In [32]:
import numpy as np
import pandas as pd
from apyori import apriori

In [33]:
store_data = pd.read_excel('F:\AndiSurya\PPB2\LatihanApriori\data.xls')

In [34]:
store_data.head()

   Wine  Chips  Bread  Butter  Milk  Apple
0  Wine    NaN  Bread  Butter  Milk    NaN
1   NaN    NaN  Bread  Butter  Milk    NaN
2   NaN  Chips    NaN     NaN   NaN  Apple
3  Wine  Chips  Bread  Butter  Milk  Apple
4  Wine  Chips    NaN     NaN  Milk    NaN

In [35]:
store_data.tail()

    Wine  Chips  Bread  Butter  Milk  Apple
45   NaN  Chips    NaN  Butter  Milk  Apple
46  Wine  Chips  Bread  Butter  Milk  Apple
47  Wine    NaN  Bread  Butter  Milk  Apple
48  Wine  Chips  Bread     NaN  Milk  Apple
49   NaN  Chips    NaN     NaN   NaN    NaN

In [36]:
store_data.shape

(50, 6)

In [37]:
records = []
for i in range(0, 50):
    records.append([str(store_data.values[i,j])for j in range(0,6)])

In [38]:
association_rules = apriori(records, min_support=0.2, min_confidence=0.1, min_lift=1.2)
association_results = list(association_rules)

In [39]:
print(len(association_results))

15

In [40]:
print(association_results[0])

RelationRecord(items=frozenset({'Bread', 'Apple', 'Wine'}), support=0.58, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Apple', 'Wine'}), confidence=0.7435897435897435, lift=1.2393162393162391), OrderedStatistic(items_base=frozenset({'Apple', 'Wine'}), items_add=frozenset({'Bread'}), confidence=0.9666666666666667, lift=1.2393162393162394)])

In [43]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]
    
    
    rows = (value0,value1,value2,value3,value4)
    
    results.append(rows)
    
    label = ['title1', 'title2', 'support', 'confidence','lift']
    
    store_suggestion = pd.DataFrame.from_records(results,columns=label)
    
    print(store_suggestion)

  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
4  Bread  Apple    0.54     0.6923  1.2362
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
4  Bread  Apple    0.54     0.6923  1.2362
5  Bread  Apple    0.36     0.4615  1.2145
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
4  Bread  Apple    0.54     0.6923  1.2362
5  Bread  Apple    0.36     0.4615  1.2145
6  Bread   Wine    0.28     0.3589  1.2820
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
4  Bread  Apple    0.54     0.6923  1.2362
5  Bread  Apple    0.36     0.4615  1.2145
6  Bread   Wine    0.28     0.3589  1.2820
7  Bread   Wine    0.48     0.6153  1.2307
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
4  Bread  Apple    0.54     0.6923  1.2362
5  Bread  Apple    0.36     0.4615  1.2145
6  Bread   Wine    0.28     0.3589  1.2820
7  Bread   Wine    0.48     0.6153  1.2307
8  Chips  Bread    0.24     0.3076  1.2820
  title1 title2 support confidence    lift
0  Bread  Apple    0.58     0.7435  1.2393
1  Bread   Wine     0.5     0.6410  1.2327
2  Bread  Apple    0.44     0.5641  1.2263
3  Bread  Apple    0.34     0.4358  1.2820
4  Bread  Apple    0.54     0.6923  1.2362
5  Bread  Apple    0.36     0.4615  1.2145
6  Bread   Wine    0.28     0.3589  1.2820
7  Bread   Wine    0.48     0.6153  1.2307
8  Chips  Bread    0.24     0.3076  1.2820
9   Milk  Bread    0.42     0.5384  1.2237
   title1 title2 support confidence    lift
0   Bread  Apple    0.58     0.7435  1.2393
1   Bread   Wine     0.5     0.6410  1.2327
2   Bread  Apple    0.44     0.5641  1.2263
3   Bread  Apple    0.34     0.4358  1.2820
4   Bread  Apple    0.54     0.6923  1.2362
5   Bread  Apple    0.36     0.4615  1.2145
6   Bread   Wine    0.28     0.3589  1.2820
7   Bread   Wine    0.48     0.6153  1.2307
8   Chips  Bread    0.24     0.3076  1.2820
9    Milk  Bread    0.42     0.5384  1.2237
10  Chips   Milk    0.32     0.4102  1.2820
   title1 title2 support confidence    lift
0   Bread  Apple    0.58     0.7435  1.2393
1   Bread   Wine     0.5     0.6410  1.2327
2   Bread  Apple    0.44     0.5641  1.2263
3   Bread  Apple    0.34     0.4358  1.2820
4   Bread  Apple    0.54     0.6923  1.2362
5   Bread  Apple    0.36     0.4615  1.2145
6   Bread   Wine    0.28     0.3589  1.2820
7   Bread   Wine    0.48     0.6153  1.2307
8   Chips  Bread    0.24     0.3076  1.2820
9    Milk  Bread    0.42     0.5384  1.2237
10  Chips   Milk    0.32     0.4102  1.2820
11    nan   Milk    0.32     0.4102  1.2066
   title1 title2 support confidence    lift
0   Bread  Apple    0.58     0.7435  1.2393
1   Bread   Wine     0.5     0.6410  1.2327
2   Bread  Apple    0.44     0.5641  1.2263
3   Bread  Apple    0.34     0.4358  1.2820
4   Bread  Apple    0.54     0.6923  1.2362
5   Bread  Apple    0.36     0.4615  1.2145
6   Bread   Wine    0.28     0.3589  1.2820
7   Bread   Wine    0.48     0.6153  1.2307
8   Chips  Bread    0.24     0.3076  1.2820
9    Milk  Bread    0.42     0.5384  1.2237
10  Chips   Milk    0.32     0.4102  1.2820
11    nan   Milk    0.32     0.4102  1.2066
12  Chips   Milk    0.26     0.3333  1.2820
   title1 title2 support confidence    lift
0   Bread  Apple    0.58     0.7435  1.2393
1   Bread   Wine     0.5     0.6410  1.2327
2   Bread  Apple    0.44     0.5641  1.2263
3   Bread  Apple    0.34     0.4358  1.2820
4   Bread  Apple    0.54     0.6923  1.2362
5   Bread  Apple    0.36     0.4615  1.2145
6   Bread   Wine    0.28     0.3589  1.2820
7   Bread   Wine    0.48     0.6153  1.2307
8   Chips  Bread    0.24     0.3076  1.2820
9    Milk  Bread    0.42     0.5384  1.2237
10  Chips   Milk    0.32     0.4102  1.2820
11    nan   Milk    0.32     0.4102  1.2066
12  Chips   Milk    0.26     0.3333  1.2820
13    nan   Milk    0.26     0.3611  1.2037
   title1 title2 support confidence    lift
0   Bread  Apple    0.58     0.7435  1.2393
1   Bread   Wine     0.5     0.6410  1.2327
2   Bread  Apple    0.44     0.5641  1.2263
3   Bread  Apple    0.34     0.4358  1.2820
4   Bread  Apple    0.54     0.6923  1.2362
5   Bread  Apple    0.36     0.4615  1.2145
6   Bread   Wine    0.28     0.3589  1.2820
7   Bread   Wine    0.48     0.6153  1.2307
8   Chips  Bread    0.24     0.3076  1.2820
9    Milk  Bread    0.42     0.5384  1.2237
10  Chips   Milk    0.32     0.4102  1.2820
11    nan   Milk    0.32     0.4102  1.2066
12  Chips   Milk    0.26     0.3333  1.2820
13    nan   Milk    0.26     0.3611  1.2037
14  Chips   Milk    0.22     0.2820  1.2820

In [44]:
store_suggestion.describe()

       title1 title2 support confidence    lift
count      15     15      15         15      15
unique      4      4      13         14      10
top     Bread  Apple    0.32     0.4102  1.2820
freq        8      5       2          2       6

In [45]:
store_suggestion.to_excel('F:\AndiSurya\PPB2\LatihanApriori\data_output7.xls')

C:\Users\PAMALA~1\AppData\Local\Temp/ipykernel_53324/3511607679.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  store_suggestion.to_excel('F:\AndiSurya\PPB2\LatihanApriori\data_output7.xls')